body,div,span,a,ul,li,em,i,section,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
body,html{font-family: 'Microsoft Yahei'; font-size: 14px; text-align: center; color: #333;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}
img{width: 100%;outline: none;border: none;}
dd,dl,dt,ul,li{padding:0px;margin:0; list-style: none;}
.w_1200,.w_1000{ min-width: 1000px; _width: 1000px; max-width: 1200px; margin: auto; text-align: left; position: relative; z-index: 0; }
.w_1000{ width: 1000px; }
.p_a{position: absolute; z-index: 5;}
.p_r{position: relative; z-index: 5;}
.ov_h{ overflow:hidden; height: 0; clear: both; }

.com-center{ background: #ebdcb4; }
.com-center .com-left{ width: 220px;  float: left;}
.com-center .com-right{ width: 780px;  float: left;}

.icon-tab{ height: 40px; line-height: 40px; color: #fff;font-size: 18px; text-align: center; background: url(../images/new_03.jpg) no-repeat center center #8d4127;font-weight: 400;}

.com-left-nav{ background: #ebdcb4;  }
.com-left-nav a{ display: block; }
.com-left-nav dt a{height: 40px; line-height: 40px; color:#333 ; font-size:16px ; padding-left: 30px; text-align: left;}
.com-left-nav dt.active a,.com-left-nav.active dt a{ color: #8d4127; }
.com-left-nav dt.active dt{ background: #fff url(../images/icon.png) -325px -61px;}
.com-left-nav dd a{ line-height: 40px; height: 40px; padding-left: 45px; text-align: left; color: #666; font-size: 16px;  }
.com-left-nav dd{ display: none; border-bottom: solid 1px #fff;}
.com-left-nav dt{ border-bottom: solid 1px #fff; }
.com-left-nav.active dd{ display: block; }

.new-ullit{ min-height: 500px; padding-bottom: 20px; }
.new-ullit li .bt{ height: 40px; line-height: 40px; padding-left: 50px; background: #fff; background: #fff url(../images/icon.png) -305px -103px}
.new-ullit li .bt h3 a{ font-size: 18px;color: #8d4127; }
.new-ullit li .bt h3{ float: left;font-weight: 400; }
.new-ullit li .bt .time{ float: right; width: 150px; padding-right: 50px; text-align: right; color: #c1804c; font-size: 14px; line-height: 40px; }
.new-ullit li .text{font-size: 14px;line-height: 22px; padding: 10px 50px; background: #ebdcb4;color: #333;}
.new-ullit li .text a{ color: #333; }
.new-ullit li .text a:hover{color: #8d4127;}

.icon-paging{padding:25px; text-align: center;} 
.icon-paging *{ display: inline-block; color: #333; height: 25px; font-family: "宋体"; width: 25px; border-radius: 25px; text-align: center; line-height: 25px; }
.icon-paging a:hover{ color: #8d4127 }
.icon-paging .active{ background: #8d4127; color: #fff; box-shadow: 2px 2px 0px #bfb392; }
.icon-paging .previous,.icon-paging .next{ font-weight: bold; color: #8d4127; }

.detailed-title{ padding-top: 10px font-size: 24px;color:#8d4127; font-weight: 400; text-align: center; line-height: 60px; text-align:center; }
.detailed-time{ text-align:center; padding-bottom: 20px; }
.detailed-time span{ background: #f6e6c5; border-radius: 50px; padding: 0 10px; font-size: 14px;color: #333; }
.detailed-cent{line-height: 24px; margin:0 20px; color: #333; border-top: solid 1px #fff; padding-top: 20px; min-height: 400px;}
.detailed-cent img{ max-width: 100%; _width:100%; }

.com-banner img{ width: 100%; display: block;  }
.xiexiu-bt{ background: url(../images/xiexiu_07.jpg) center center no-repeat; height: 70px; line-height: 65px; text-align: center; font-size: 30px; color: #fff; }
.xiexiu-main{ background: #f3d990; padding: 20px 0 40px 0;}
.xiexiu-list{ margin:0 10px; padding-top: 10px; }
.xiexiu-list li{ float: left; width: 33.2%; margin-bottom: 10px; }
.xiexiu-list li a{
  display: block; height: 215px; overflow:hidden; position: relative; z-index: 4; margin:0 10px; background: #333;
  border-radius: 5px;
}
.xiexiu-list li a img{ width: 100%; display: block;  }
.xiexiu-list li a span{
 border-radius: 4px; background: url(../images/xiexiu-bg.png); text-align: center; line-height: 22px; font-size: 18px; position: absolute; left: 10%; top: 50%; margin-top:-52px;  width:40px ; padding:15px 5px 0 5px; text-align: center; height:90px; color: #fff;  
}
