*{padding:0px;margin:0px;list-style:none;box-sizing:border-box;border-collapse:collapse;-webkit-overflow-scrolling:touch;}
body{font-family:sans-serif,"微软雅黑","Arial Black", Gadget;font-size:14px;color:#333333;background:url(../images/body_bg.jpg);}
footer,header,nav,section,article,aside,details,figcaption,figure,hgroup,main,menu,summary{display:block;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
/*img{display:block;border:none;width:100%;}*/
a{text-decoration:none;color:#333333;}
i{font-style:normal}


.module{clear:both;width:1000px;margin:0 auto;}
.module-a{clear:both;width:100%;min-width:1000px;}
.module-b{clear:both;padding:0px 5px;margin:0 5px 7px;border-radius:3px;background:#fff;}
.module-b:after,.module-a:after,.module:after{content:" ";display:block;clear:both;}

.block{display:block;}
.clear{clear:both}
.bold{font-weight:bold;}
.inline-block{display:inline-block;}
.inline-block > *{display:inline-block;padding:6px 12px}

.no-padding{padding:0 !important;}
.no-padding-lr{padding-left:0px !important;padding-right:0px !important;}
.no-padding-ud{padding-top:0px !important;padding-bottom:0px !important;}
.no-padding-u{padding-top:0 !important;}
.no-padding-d{padding-bottom:0 !important;}

.no-margin-lr{margin-left:0px !important;margin-right:0px !important;}
.no-margin-ud{margin-top:0px !important;margin-bottom:0px !important;}
.no-margin-u{margin-top:0 !important;}
.no-margin-d{margin-bottom:0 !important;}

.no-lineheight{line-height:none !important;}


.float-l{float:left;}
.float-r{float:right;}

.text-l{text-align:left;}
.text-c{text-align:center;}
.text-r{text-align:right;}

.text-color-orange{color:#f8870f !important;}
.text-color-gray{color:#b8b8b8;}
.no-text{font-size:0px;}

.border-red{border:solid 1px #ec0808 !important;}
.border-green{border:solid 1px #07bc07 !important;}
.border-bottom-dom > *{border-bottom:solid 1px #dbdbdb}
.border-bottom-dom > *:last-child{border:none}
.border-bottom{border-bottom:solid 1px #dbdbdb}
.border-bottom-xx > *{border-bottom:dashed 1px #dbdbdb}
.border-bottom-xx > *:last-child{border:none}
.border-bottomxx{border-bottom:dashed 1px #dbdbdb}
.no-border{border:none}

.lineHeight{line-height:32px;}
.height-auto::after{content:" ";display:block;clear:both;}
.heightAuto > *::after{content:" ";display:block;clear:both;}
.border-block > *{border:solid 1px #d4d4d4}
.vertical-align{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack: center;}

.show-dom{display:block;}
.hide-dom{display:none;}

.dom-block-2:after,
.dom-block-3:after,
.dom-block-4:after,
.dom-block-5:after,
.dom-block-6:after{content:" ";display:block;clear:both;}

/* 设置滚动条的样式 */
::-webkit-scrollbar {width:6px;}
/* 滚动槽 */
::-webkit-scrollbar-track{background:#ddd;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{background:rgba(0, 0, 0, 0.2);border-radius:3px;}
::-webkit-scrollbar-thumb:window-inactive{border-radius:3px;}
